html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.app {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0.25rem solid #abcea1;
    border-radius: 0.5rem;
    padding: 1rem;
    /* overflow-y: auto; */
}

.reagent-box {
    border: 1px solid #abcea1;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}